:root {
    --background: #202020;
    --white: #f0f0f0;
    --button: #404040;
    --border: #303030;
}

@font-face {
    font-family: futura;
    src: url(./futura.ttf);
}

* {
    font-family: futura;
    color: var(--white);
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0 0 16px 0;
}

nav {
    display: flex;
    gap: 3px;
    background-color: var(--background);
}

nav>div,
nav>a {
    display: flex;
    flex: 1 1 0;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    align-items: center;
    background-color: var(--button);
    cursor: pointer;
}

nav>div:hover,
nav>a:hover,
ideology:hover,
.buttonGroup button:hover,
#equalizationButton:hover,
#randomizationButton:hover,
#ideologizationButton:hover,
#diploDownload:hover,
#toleranceSlider:hover,
#portraitTools button:hover,
.backgroundContainer:hover {
    filter: brightness(1.1);
}

#logo {
    display: flex;
    gap: 8px;
}

#logo img {
    height: 32px;
    width: 32px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.navButton {
    justify-content: center;
}

#diploSection {
    display: grid;
    grid-template-columns: 564px 1fr;
    grid-template-rows: 362px min-content;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#diploScreenshot {
    width: 532px;
    height: 362px;
    grid-area: 1 / 1 / 2 / 2;
}

#diploFront {
    position: absolute;
    z-index: 2;
}

#diploOverlay {
    display: block;
    position: absolute;
    z-index: 1;
    width: 532px;
    height: 362px;
    background-image: url(./diploOverlay.png);
}

#diploBack {
    position: absolute;
    z-index: 0;
}

#flagOverlay {
    display: block;
    position: absolute;
    width: 82px;
    height: 52px;
    left: 34px;
    top: 49px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: flagFrames 3s steps(27) infinite;
    background-image: url("./flagAnimation/1.png");
}

@keyframes flagFrames {
    0% {
        background-image: url("./flagAnimation/1.png");
    }

    3.7% {
        background-image: url("./flagAnimation/2.png");
    }

    7.4% {
        background-image: url("./flagAnimation/3.png");
    }

    11.1% {
        background-image: url("./flagAnimation/4.png");
    }

    14.8% {
        background-image: url("./flagAnimation/5.png");
    }

    18.5% {
        background-image: url("./flagAnimation/6.png");
    }

    22.2% {
        background-image: url("./flagAnimation/7.png");
    }

    25.9% {
        background-image: url("./flagAnimation/8.png");
    }

    29.6% {
        background-image: url("./flagAnimation/9.png");
    }

    33.3% {
        background-image: url("./flagAnimation/10.png");
    }

    37% {
        background-image: url("./flagAnimation/11.png");
    }

    40.7% {
        background-image: url("./flagAnimation/12.png");
    }

    44.4% {
        background-image: url("./flagAnimation/13.png");
    }

    48.1% {
        background-image: url("./flagAnimation/14.png");
    }

    51.8% {
        background-image: url("./flagAnimation/15.png");
    }

    55.5% {
        background-image: url("./flagAnimation/16.png");
    }

    59.2% {
        background-image: url("./flagAnimation/17.png");
    }

    62.9% {
        background-image: url("./flagAnimation/18.png");
    }

    66.6% {
        background-image: url("./flagAnimation/19.png");
    }

    70.3% {
        background-image: url("./flagAnimation/20.png");
    }

    74% {
        background-image: url("./flagAnimation/21.png");
    }

    77.7% {
        background-image: url("./flagAnimation/22.png");
    }

    81.4% {
        background-image: url("./flagAnimation/23.png");
    }

    85.1% {
        background-image: url("./flagAnimation/24.png");
    }

    88.8% {
        background-image: url("./flagAnimation/25.png");
    }

    92.5% {
        background-image: url("./flagAnimation/26.png");
    }

    96.2% {
        background-image: url("./flagAnimation/27.png");
    }

    100% {
        background-image: url("./flagAnimation/1.png");
    }
}

#flag {
    display: block;
    position: absolute;
    width: 82px;
    height: 52px;
    left: 34px;
    top: 49px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./Flag.png);
    background-color: #000;
}

#icon {
    display: block;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 146px;
    top: 42px;
    background-image: url(./icon/Despotism/Absolute\ Monarchy.png);
}

#topNames {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 192px;
    left: 220px;
    top: 42px;
    color: var(--white);
    font-family: futura;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1px;
}

#country {
    height: 30px;
}

#stability {
    top: 61px;
}

#warSupport {
    top: 93px;
}

.unity {
    position: absolute;
    width: 34px;
    left: 495px;
    color: var(--white);
    font-family: futura;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: center;
    cursor: text;
}

#bottomNames {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 236px;
    left: 262px;
    top: 168px;
    color: var(--white);
    font-family: futura;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1px;
}

#portraitBackground {
    display: block;
    position: absolute;
    width: 115px;
    height: 155px;
    left: 16px;
    top: 161px;
    background-image: url(./portraitBackground/General.png);
}

#portrait {
    display: block;
    width: 115px;
    height: 155px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./Wrangel.png);
}

#pieChart {
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    left: 157px;
    top: 169px;
    border-radius: 100%;
    transform: scaleX(-1) rotate(-90deg);
    transform-origin: center;
}

#focusIcon {
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    left: 147px;
    top: 236px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./Focus.png);
}

#focus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 223px;
    height: 72px;
    left: 244px;
    top: 244px;
    color: var(--white);
    font-family: futura;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -1px;
    text-align: center;
    padding: 0 20px;
}

#diploIdeologyMenu {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 0 0;
}

.picker {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

ideology {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button);
    padding: 8px;
    border-radius: 12px;
    color: var(--white);
    text-align: center;
    font-family: futura;
    font-weight: 600;
    font-size: 12px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    letter-spacing: .5px;
    border: 3px solid var(--border);
    outline-offset: -6px;
}

ideology:active,
.buttonGroup button:active,
#equalizationButton:active,
#randomizationButton:active,
#ideologizationButton:active,
#diploDownload:active,
#portraitTools button:active {
    filter: brightness(.9);
}

ideology img {
    width: 66px;
    height: 66px;
}

ideology div {
    display: flex;
    align-items: center;
    height: 32px;
}

ideology div {
    display: flex;
    align-items: center;
    height: 100px;
}

.title {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 3px;
    cursor: auto;
}

#ideologyDescription,
#subideologyDescription {
    background-color: var(--button);
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    color: var(--white);
    padding: 12px;
}

#subideologyDescription {
    font-size: 12px;
    font-weight: 500;
}

#diploTools {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#diploTools>* {
    flex: none;
}

.buttonGroup {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}

.buttonGroup button {
    border: none;
    border-radius: 6px;
    font-family: futura;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--button);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    height: 48px;
}

#popularityTools button,
#diploDownload,
#portraitTools button {
    border: none;
    border-radius: 6px;
    font-family: futura;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--button);
    cursor: pointer;
    padding: 12px;
    width: 100%;
}

#popularityInputs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 8px 0;
    justify-content: center;
}

.percentageControl {
    display: flex;
    align-items: center;
}

.percentageControl input {
    padding: 8px;
    border: none;
    border-radius: 12px 0 0 12px;
    width: 44px;
    border: solid 2px var(--background);
    background-color: var(--white);
    transition: .15s;
    color: var(--background);
}

.percentageControl div {
    width: 24px;
    height: 32px;
    cursor: pointer;
    border: solid 2px var(--background);
    margin-left: 3px;
    transition: .15s;
}

.percentageControl div:hover {
    filter: brightness(1.1);
    z-index: 1;
}

.percentageControl div:active {
    filter: brightness(.9);
    z-index: 1;
}

.clearBox {
    border-radius: 0 12px 12px 0;
}

input:disabled {
    background-color: var(--button);
    color: var(--white);
}

#eventSection {
    display: flex;
    margin: 16px 16px 0 16px;
    gap: 16px;
}

#eventScreenshot {
    width: 607px;
    height: 534px;
}

#eventFront {
    position: absolute;
    z-index: 2;
}

#eventOverlay {
    z-index: 1;
    position: absolute;
    width: 607px;
    height: 534px;
    background-image: url(./eventOverlay.png);
}

#eventBack {
    z-index: 0;
    position: absolute;
}

#eventImage {
    position: absolute;
    width: 558px;
    height: 290px;
    top: 32px;
    left: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./eventImage.png);
}

#eventTitle {
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    height: 30px;
    width: 222px;
    left: 190px;
    top: 325px;
    padding-top: 8px;
    color: var(--white);
    font-family: futura;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
    letter-spacing: -1px;
}

#eventQuote {
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    height: 126px;
    width: 476px;
    left: 65px;
    top: 345px;
    padding-top: 30px;
    color: var(--white);
    font-family: futura;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.5px;
    line-height: 24px;
}

#country,
#faction,
#leader,
.unity,
#party,
#election,
#focus,
#eventQuote,
#eventTitle {
    cursor: text;
}

eventSpacing {
    display: block;
    height: 534px;
}

eventTools {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding-top: 10px;
    padding-right: 16px;
}

#eventButtons {
    flex-direction: column;
}

#eventButtons button {
    height: 80px;
    font-size: 24px;
    flex-grow: 1;
}

#portraitSection {
    display: grid;
    grid-template-columns: 644px 1fr;
    grid-template-rows: 256px min-content;
}

#portraitViewer {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    height: 256px;
    align-items: center;
    justify-content: center;
}

#portraitScreenshot {
    width: 156px;
    height: 210px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(./portraitPlaceholder.png);
    background-color: #fff;
}

#portraitTools {
    grid-area: 2 / 1 / 3 / 2;
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#portraitTools button {
    height: 64px;
}

#toleranceValue {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toleranceSlider {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--button);
    height: 32px;
    border-radius: 6px;
    margin: 0;
    cursor: pointer;
}

#toleranceSlider::-webkit-slider-thumb,
#toleranceSlider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: none;
    background-color: var(--white);
}

#portraitButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

#backgroundTools {
    grid-area: 1 / 2 / 3 / 3;
    padding: 16px 16px 0 16px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

#backgroundTooltip {
    font-size: 32px;
}

.backgroundNotice {
    font-size: 20px;
}

#backgroundSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.backgroundContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100%/6) - 13px);
    cursor: pointer;
    outline: var(--background) solid 3px;
    border: var(--button) solid 3px;
    border-radius: 3px;
}

.selectedBackground {
    border: var(--button) solid 3px;
    outline: var(--white) solid 3px;
}

.backgroundContainer img {
    width: 100%;
}

.backgroundContainer div {
    position: absolute;
    color: var(--white);
    text-shadow: #000 0 0 1px, #000 0 0 2px, #000 0 0 3px;
    text-align: center;
    font-size: 12px;
    padding: 8px 4px;
}

@media screen and (max-width: 1120px) {

    #diploSection,
    #eventSection,
    #portraitSection {
        display: flex;
        flex-direction: column;
    }

    #diploTools,
    #diploIdeologyMenu {
        padding: 0 16px;
    }

    #popularityInputs {
        gap: 16px;
        margin: 8px 0;
    }

    #eventSection {
        align-items: center;
    }

    #eventButtons {
        width: 100%;
    }
}